<!-- Import JS & CSS -->
import "./styles/style.css";
import "./styles/bootstrap.min.css";
import "./js/bootstrap.min.js";

<div#root><router routes=input.Routes options={ defaultRoute: "home" }/></div>
